<!-- home.handlebars -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/css/home.css">
</head>

<body>
  <h1>Lista de Productos</h1>
  <table class="home-table">
    <thead>
      <tr>
        <th>Producto</th>
        <th>Precio</th>
      </tr>
    </thead>
    <tbody>
      {{#each products}}
        <tr>
          <td>{{this.title}}</td>
          <td>{{this.price}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  <!-- Botón para volver al index -->
  <button id="volverButton">Volver</button>

  <!-- Referencia al script externo -->
  <script src="/js/home.js"></script>
</body>

</html>
